@font-face {
  font-family: "Avenir Heavy";
  src: url("./fonts/AvenirNextLTPro-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("./fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Regular";
  src: url("./fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Light";
  src: url("./fonts/AvenirNextLTPro-UltLt.otf") format("opentype");
}

:root {
  --heavy-font: "Avenir Heavy";
  --bold-font: "Avenir Bold";
  --regular-font: "Avenir Regular";
  --light-font: "Avenir Light";
  --black-clr: #1f1f21;
  --white-clr: #fefcfc;
  --purple-clr: #583580;
  --orange-clr: #f26e45;
  --light-black-clr: #26252d;
  --shadow: rgba(254, 252, 252, 0.1) 0px 20px 25px -5px,
    rgba(254, 252, 252, 0.04) 0px 10px 10px -5px;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

body {
  background: var(--black-clr);
}

.wrapper {
  margin: 1rem;
}

h4 {
  font-family: var(--bold-font);
  font-size: 0.7rem;
  color: var(--white-clr);
}

@media (min-width: 767px) {
  h4 {
    font-size: 1rem; ;
  }
}

@media (min-width: 1280px) {
  h4 {
    font-size: 1.5rem; ;
  }
}

/* Components */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 767px) {
  .header{
    gap: 3rem;
  }
}

.logo {
  height: 5rem;
}

@media (min-width: 1280px) {
  .logo {
    height: 10rem ;
  }
}

.header h1 {
  font-family: var(--heavy-font);
  color: var(--orange-clr);
}

@media (min-width: 767px) {
  .header h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .header h1 {
    font-size: 5rem;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 767px) {
  .main-container {
   flex-direction: row;
   justify-content: center;
  }
}

.meme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.meme-name {
  font-family: var(--light-font);
  color: var(--white-clr);
  text-align: center;
}

@media (min-width: 767px) {
  .meme-name {
   font-size: 3rem;
  }
}

.image-meme {
  max-width: 100%;
  max-height: 200px;
}

@media (min-width: 767px) {
  .image-meme {
    max-height: 600px;
  }
}

.meme-btn {
  background: var(--white-clr);
  border: none;
  padding: 1rem 4rem;
  border-radius: 10rem;
  font-family: var(--bold-font);
  font-size: 1.2rem;
  color: var(--light-black-clr);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .meme-btn {
  padding: 2rem 5rem;
  font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .meme-btn {
  padding: 3rem 8rem;
  font-size: 2rem;
  }
}

/* Footer */

.footer {
  font-family: var(--light-font);
  color: var(--white-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__networks {
  display: flex;
  gap: 0.5rem;
}

.networks__image {
  height: 30px;
  width: 30px;
}

@media (min-width: 767px) {
  .networks__image {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1280px) {
  .networks__image {
    height: 50px;
    width: 50px;
  }
} 